* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Jetbrains Mono, Fira Mono, FiraCode Nerd Font,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 0px;
    border: 1;
}

window#waybar {
	background: #30343D;
	color: #f3f4f5;
}

.modules-right {
  background: #30343D;
}

.modules-center {
  background: #30343D;
}

.modules-left {
  background: #30343D;
}

#tags,
#workspaces,
#window,
#mode,
#wireplumber,
#upower,
#keyboard-state,
#pulseaudio,
#idle_inhibitor,
#custom-dunst,
#backlight,
#tray {
	/* background: #30343D; */
}
#tags button {
	padding: 0 0px;
	color: #f3f4f5;
}
#tags button.active {
	color: #5294E2;
}
#tags button.focused {
	color: #5294E2;
}

#workspaces button {
	padding: 0 8px;
	color: #f3f4f5;
}

#workspaces button.active {
  padding: 0 8px;
  color: #f3f4f5;
	background: #5294E2;
}

#workspaces button.focused {
  padding: 0 8px;
  color: #f3f4f5;
	background: #5294E2;
}

#workspaces button:hover {
  padding: 0 8px;
	box-shadow: inherit;
	text-shadow: inherit;
}


#pulseaudio {
	color: #5294E2;
}
#upower {
	color: #859900;
}
#taskbar,
#idle_inhibitor,
#clock,
#pulseaudio,
#backlight,
#keyboard-state,
#tray,
#mpris,
#custom-ddcutil,
#custom-dunst,
#upower {
	padding: 0 8px;
}

