* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Mono, FiraCode Nerd Font,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
	background: #30343D;
	color: #f3f4f5;
}

#tags,
#workspaces,
#wireplumber,
#upower,
#tray {
	background: #30343D;
}
#tags button {
	padding: 0 0px;
	color: #f3f4f5;
}
#tags button.active {
	color: #5294E2;
}
#tags button.focused {
	color: #5294E2;
}

#workspaces button {
	padding: 0 0px;
	color: #f3f4f5;
}

#workspaces button.active {
	color: #5294E2;
}

#workspaces button.focused {
	color: #5294E2;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button:hover {
	background: #0D0F14;
	border: #0D0F14;
	padding: 0 0px;
}

#pulseaudio {
	color: #5294E2;
}
#upower {
	color: #859900;
}
#mpris,
#taskbar,
#idle_inhibitor,
#clock,
#pulseaudio,
#network,
#backlight,
#keyboard-state,
#tray,
#custom-ddcutil,
#custom-dunst,
#upower {
	padding: 0 6px;
}

