* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Jetbrains Mono, sans-serif;
    font-size: 12px;
    border-radius: 0px;
    border: 1px;
}

window#waybar {
	background: #16161e;
	color: @theme_text_color;
  /* border-bottom: 1px solid #292e42; */
  border: 1px solid #292e42;
}

.modules-right {
  background: transparent;
}

.modules-center {
  background: transparent;
}

.modules-left {
  background: transparent;
}

#taskbar {
  /* border: 2px solid #292e42; */
  padding: 0px 0px;
  background: #16161e;
}

#taskbar button.active {
  border-bottom: 3px solid #7aa2f7;
}

#taskbar button {
  border: 3px solid transparent;
}

#tags,
#workspaces,
#window,
#mode,
#wireplumber,
#upower,
#keyboard-state,
#pulseaudio,
#idle_inhibitor,
#custom-dunst,
#power-profiles-daemon,
#backlight,
#tray {
	/* background: #30343D; */
}
#tags button {
	padding: 0 0px;
	color: #16161e;
}
#tags button.active {
	color: #7aa2f7;
}
#tags button.focused {
	color: #7aa2f7;
}

#workspaces button {
	padding: 0 8px;
	color: #545c7e;
}

#workspaces button.active {
  padding: 0 8px;
  color: #7aa2f7;
}

#workspaces button.focused {
  padding: 0 8px;
  color: #7aa2f7;
}

#workspaces button:hover {
  padding: 0 8px;
	box-shadow: inherit;
	text-shadow: inherit;
}

#privacy {
  color: #f7768e;
}

#wireplumber {
	color: #5294E2;
}

#upower {
	color: #859900;
}

#window,
#idle_inhibitor,
#clock,
#audio,
#backlight,
#keyboard-state,
#tray,
#mpris,
#custom-ddcutil,
#custom-dunst,
#language,
#privacy,
#power-profiles-daemon,
#upower {
	padding: 0 8px;
}

