[helpers]

[ollama.files]
"ollama/ollama.container" = "~/.config/containers/systemd/ollama.container"
"ollama/ollama-web-ui.container" = "~/.config/containers/systemd/ollama-web-ui.container"

[ollama.variables]
amd_gpu = true

[fuzzel.files]
fuzzel = "~/.config/fuzzel"

[dunst.files]
dunstrc = "~/.config/dunst/dunstrc"

[xdg-desktop-portal.files]
xdg-desktop-portal = "~/.config/xdg-desktop-portal"

[sway]
depends = ["xdg-desktop-portal", "fuzzel", "dunst", "systemd-user", "swaylock", "kanshi", "waybar", "gammastep"]

[sway.files]
sway = "~/.config/sway"

[niri]
depends = ["xdg-desktop-portal", "fuzzel", "dunst", "systemd-user","swaylock", "waybar", "gammastep"]

[niri.files]
niri = "~/.config/niri"

[hyprland]
depends = ["fuzzel", "dunst", "systemd-user", "waybar", "gammastep"]

[hyprland.files]
hypr = "~/.config/hypr"

[swaylock.files]
swaylock = "~/.config/swaylock/config"

[kanshi.files]
kanshi = "~/.config/kanshi/config"

[waybar.files]
waybar = "~/.config/waybar"

[systemd-user.files]
systemd-user = "~/.config/systemd/user"

[gammastep.files]
gammastep = "~/.config/gammastep/config.ini"

# Terminals
[alacritty.files]
alacritty = "~/.config/alacritty/alacritty.toml"

[tmux.files]
tmux = "~/.tmux.conf"

[wezterm.files]
"wezterm.lua" = "~/.wezterm.lua"

[ghostty.files]
ghostty = "~/.config/ghostty"

[kitty.files]
kitty = "~/.config/kitty/kitty.conf"

[zsh.files]
zshrc = "~/.zshrc"
zshenv = "~/.zshenv"
zprofile = "~/.zprofile"

[nvim.files]
nvim = "~/.config/nvim"

[nvim.variables]
coder_model = "qwen2.5-coder:14b"
chater_model = "deepseek-r1:14b"

# Default
[default]
depends = ["zsh", "nvim", "tmux"]

[default.files]

[default.variables]
